<header class="header">
  <div class="header-content">
    <button class="header-btn"><img src="assets/arrow-back.svg"></button>
    <h1 class="header-text">TechBuild Solutions</h1>
  </div>
</header>

<main class="main">
  <form>
    <h2 class="form-header">Складання комп’ютера</h2>

    <div class="form-controls">
      <div>
        <label>Модель комп’ютера:</label>
        <select formControlName="">
          <option value="Оплата при отриманні товару(готівка)">Оплата</option>
          <option value="Оплата картою при отримані товару">при отримані товару</option>
        </select>
      </div>

      <div>
        <label>Спосіб доставки:</label>
        <select formControlName="">
          <option value="Оплата при отриманні товару(готівка)">Оплата</option>
          <option value="Оплата картою при отримані товару">при отримані товару</option>
        </select>
      </div>

      <div>
        <label>Номер телефону:</label>
        <input type="tel" formControlName="" />
      </div>

      <div>
        <label>Адреса доставки:</label>
        <input type="text" formControlName="" />
      </div>

      <div>
        <label>Термінове складання:</label>
        <select formControlName="">
          <option value="Оплата при отриманні товару(готівка)">Оплата</option>
          <option value="Оплата картою при отримані товару">при отримані товару</option>
        </select>
      </div>

      <div>
        <label>Спосіб оплати:</label>
        <select formControlName="">
          <option value="Оплата при отриманні товару(готівка)">Оплата</option>
          <option value="Оплата картою при отримані товару">при отримані товару</option>
        </select>
      </div>

      <div class="form-text-area">
        <label>Інформація про деталі:</label>
        <textarea formControlName=""></textarea>
      </div>
    </div>

    <div class="form-btns">
      <button class="form-submit-btn" type="submit">Підтвердити замовлення</button>
      <button class="form-cancel-btn" type="button">Скасувати замовлення</button>
    </div>

    <div class="form-hint">Ми зателефонуємо Вам для узгодження всіх деталей!</div>
  </form>
</main>
